PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/flavora_db?retryWrites=true&w=majority
JWT_SECRET=69faaa9119414576970c342223a55d1fcfbb724874b171125eb4cadad38845d0

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret